@import url("root.css");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding-bottom: 5vh;
  background-image: url("../../assets/login-bg.jpg");
  color: var(--text);
}

.parent {
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
