@import url("root.css");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.child {
  font-family: "Space Grotesk", system-ui;
  padding: 100px;
}

.gif {
  position: absolute;
  margin-left: 50wh;
  z-index: -1;
}

#blackhole-gif {
  width: 900px;
  height: auto;
}

.buttonDiv {
  font-family: "Inter", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStartedButton {
  color: #e8e8e8;
  position: relative;
  height: 70px;
  padding: 0 50px;
  border: 2px solid #e8e8e8;
  background: #000;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

.getStartedButton:before,
.getStartedButton:after {
  content: "";
  position: absolute;
  background: #000;
  transition: all 0.2s linear;
}

.getStartedButton:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.getStartedButton:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.getStartedButton:hover {
  cursor: crosshair;
}

.getStaretdButton:active {
  transform: scale(0.95);
}

.getStartedButton:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.getStartedButton:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

.getStartedButton span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}

.footer {
  font-family: "Space Grotesk", system-ui;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 1.1em;
}
